# ISB-CGC Community Notebooks
Check out more notebooks at our [Community Notebooks Repository](https://github.com/isb-cgc/Community-Notebooks)!

```
Title:   How to transform a NCBI GEO data set to a BigQuery table
Author:  David L Gibbs
Created: 2019-06-14
Purpose: Demonstrate how to make BigQuery tables from external data sets
URL:     https://github.com/isb-cgc/Community-Notebooks/blob/master/Notebooks/How_to_make_NCBI_GEO_BigQuery_tables.ipynb
Notes:   
```
***

# Tranforming NCBI GEO data sets to BigQuery (GEO2BQ)

 In this example, we're going to retrieve data from NCBI GEO, and create a BigQuery table.

### Authenticate with Google
Our first step is to authenticate with Google -- you will need to be a member of a Google Cloud Platform (GCP) project, with authorization to run BigQuery jobs in order to run this notebook.  If you don't have access to a GCP project, please contact the ISB-CGC team for help (www.isb-cgc.org).

In [1]:
from google.colab import auth
try:
  auth.authenticate_user()
  print('You have been successfully authenticated!')
except:
  print('You have not been authenticated.')

You have been successfully authenticated!

### Initialize connection to BigQuery
Once you're authenticated, we'll begin getting set up to pull data out of BigQuery.  

The first step is to initialize the BigQuery client.  This requires specifying a Google Cloud Platform (GCP) **project id** in which you have the necessary privileges (also referred to as "roles") to execute queries and access the data used by this notebook.


---

In [3]:
from google.cloud import bigquery
try:
  project_id = 'your_project_number' # Update your_project_number with your project number
  bqclient = bigquery.Client(project=project_id)
  print('BigQuery client successfully initialized')
except:
  print('Failure to initialize BigQuery client')

BigQuery client successfully initialized

## Install the GEOparse library ##

In [4]:
!pip install GEOparse

Collecting GEOparse
  Downloading https://files.pythonhosted.org/packages/67/f6/9206e1acda1858fa9a117ae91d9541e011735e672d58be58a5ee0947ef13/GEOparse-1.1.0.tar.gz (189kB)
     |████████████████████████████████| 194kB 2.8MB/s
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.6/dist-packages (from GEOparse) (1.16.4)
Requirement already satisfied: pandas>=0.17 in /usr/local/lib/python3.6/dist-packages (from GEOparse) (0.24.2)
Collecting wgetter>=0.6 (from GEOparse)
  Downloading https://files.pythonhosted.org/packages/8e/ce/7f160ed9f0e16a5365bcbac1dbc6bad1631e9fc91610a444fbdebede3e8b/wgetter-0.7.tar.gz
Collecting biopython>=1.71 (from GEOparse)
  Downloading https://files.pythonhosted.org/packages/28/15/8ac646ff24cfa2588b4d5e5ea51e8d13f3d35806bd9498fbf40ef79026fd/biopython-1.73-cp36-cp36m-manylinux1_x86_64.whl (2.2MB)
     |████████████████████████████████| 2.2MB 36.9MB/s
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17->GEOparse) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17->GEOparse) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.17->GEOparse) (1.12.0)
Building wheels for collected packages: GEOparse, wgetter
  Building wheel for GEOparse (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/f3/aa/77/45a2f1517e7545aaabce83d4ad371e4f58aa818e4ee38691cd
  Building wheel for wgetter (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/89/ce/c2/d0f63a63aec734d8af33209050a861f9a8583e11063dc27419
Successfully built GEOparse wgetter
Installing collected packages: wgetter, biopython, GEOparse
Successfully installed GEOparse-1.1.0 biopython-1.73 wgetter-0.7

##Step 1:  Find data on NCBI GEO##


Here's a data set I found by searching for pancreatic cancer:

https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE28735

## Step 2:  Retrieve the data and make a long Pandas table ##

In [ ]:
import GEOparse
import pandas as pd

## docs:  https://geoparse.readthedocs.io/en/latest/usage.html

In [ ]:
gse = GEOparse.get_GEO(geo="GSE28735", destdir="./")

In [27]:

print()
print("GSM example:")
for gsm_name, gsm in gse.gsms.items():
    print("Name: ", gsm_name)
    print("Metadata:",)
    for key, value in gsm.metadata.items():
        print(" - %s : %s" % (key, ", ".join(value)))
    print ("Table data:",)
    print (gsm.table.head())
    break

print()
print("GPL example:")
for gpl_name, gpl in gse.gpls.items():
    print("Name: ", gpl_name)
    print("Metadata:",)
    for key, value in gpl.metadata.items():
        print(" - %s : %s" % (key, ", ".join(value)))
    print("Table data:",)
    print(gpl.table.head())
    break

GSM example:
Name:  GSM711904
Metadata:
 - title : human pancreatic tumor tissue, patient sample 1
 - geo_accession : GSM711904
 - status : Public on Jul 09 2012
 - submission_date : Apr 20 2011
 - last_update_date : Jul 09 2012
 - type : RNA
 - channel_count : 1
 - source_name_ch1 : tumor tissue, patient 1
 - organism_ch1 : Homo sapiens
 - taxid_ch1 : 9606
 - characteristics_ch1 : tissue: T, survival_month: 51, cancer_death: 1
 - molecule_ch1 : total RNA
 - extract_protocol_ch1 : Tissues were flash frozen immediately after surgery.RNA from frozen tissue samples was extracted using standard TRIZOL (Invitrogen) protocol. RNA quality was confirmed with the Agilent 2100 Bioanalyzer (Agilent Technologies) before the microarray gene expression profiling
 - label_ch1 : biotin
 - label_protocol_ch1 : Samples were enzymatically fragmented and biotinylated using the WT Terminal Labeling Kit (Affymetrix)
 - hyb_protocol : Samples were hybridized using Affymetrix GeneChip Hybridization, Wash, and Stain Kit and according to the manufacturer's protocol.
 - scan_protocol : Affymetrix Gene ChIP Scanner 3000 7G
 - description : cancer related death
 - data_processing : All arrays were RMA normalized and gene expression summaries were created for each gene by averaging all probe sets for each gene using Partek Genomics Suite 6.5.  All data analysis was performed on gene summarized data.
 - platform_id : GPL6244
 - contact_name : Perwez,,Hussain
 - contact_email : hussainp@mail.nih.gov
 - contact_institute : NCI/NIH
 - contact_address : 37 Convent Drive
 - contact_city : Bethesda
 - contact_zip/postal_code : 20892
 - contact_country : USA
 - supplementary_file : ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM711nnn/GSM711904/suppl/GSM711904.CEL.gz
 - series_id : GSE28735
 - data_row_count : 28869
Table data:
    ID_REF    VALUE
0  8157281  2.87856
1  7997332  4.81907
2  8072798  4.79498
3  7972808  3.91443
4  8157283  6.54982

GPL example:
Name:  GPL6244
Metadata:
 - title : [HuGene-1_0-st] Affymetrix Human Gene 1.0 ST Array [transcript (gene) version]
 - geo_accession : GPL6244
 - status : Public on Dec 05 2007
 - submission_date : Dec 05 2007
 - last_update_date : Jul 26 2018
 - technology : in situ oligonucleotide
 - distribution : commercial
 - organism : Homo sapiens
 - taxid : 9606
 - manufacturer : Affymetrix
 - manufacture_protocol : See manufacturer's web site,
 - description : Affymetrix submissions are typically submitted to GEO using the GEOarchive method described at http://www.ncbi.nlm.nih.gov/projects/geo/info/geo_affy.html, , June 03, 2009: annotation table updated with netaffx build 28, June 18, 2012: annotation table updated with netaffx build 32, July 01, 2016: annotation table updated with netaffx build 35
 - web_link : http://www.affymetrix.com/support/technical/byproduct.affx?product=hugene-1_0-st-v1, http://www.affymetrix.com/support/technical/libraryfilesmain.affx
 - contact_name : ,,Affymetrix, Inc.
 - contact_email : geo@ncbi.nlm.nih.gov, support@affymetrix.com
 - contact_phone : 888-362-2447
 - contact_institute : Affymetrix, Inc.
 - contact_address :
 - contact_city : Santa Clara
 - contact_state : CA
 - contact_zip/postal_code : 95051
 - contact_country : USA
 - contact_web_link : http://www.affymetrix.com/index.affx
 - relation : Alternative to: GPL10063 (Alternative CDF), Alternative to: GPL10666 (Alternative CDF), Alternative to: GPL11209 (Alternative CDF), Alternative to: GPL13243 (Alternative CDF [HuGene10stv1_Hs_ENTREZG_11.0.1]), Alternative to: GPL14010 (Alternative CDF), Alternative to: GPL15034 (Alternative CDF [HuGene10stv1_Hs_ENTREZG_v14]), Alternative to: GPL15424 (alternative CDF [HuGene10stv1_Hs_ENST]), Alternative to: GPL15648 (Alternative CDF), Alternative to: GPL15969 (Alternative CDF [HuGene1_0_genecentric]), Alternative to: GPL16239 (Alternative CDF), Alternative to: GPL16332 (Alternative CDF [MMBGX-Ensembl64]), Alternative to: GPL16522 (Alternative CDF [HuGene10stv1_Hs_ENTREZG_15.1.0]), Alternative to: GPL16786 (Alternative CDF [HuGene10stv1_Hs_ENSG_v13.0.0]), Alternative to: GPL16987 (Alternative CDF [GATExplorer_Ensembl v57]), Alternative to: GPL17047 ( Alternative CDF [HuGene10stv1_Hs_ENTREZG_15.0.0]), Alternative to: GPL17244 (Alternative CDF [HuGene10stv1_Hs_ENTREZG_16.0.0]), Alternative to: GPL17556 (alternative), Alternative to: GPL17737 (Alternative CDF), Alternative to: GPL18401 (AltAnalyze probeset-to-Ensembl), Alternative to: GPL18412 (Alternative CDF [hugene10stv1_74_030]), Alternative to: GPL18695 (alternative CDF[Hugene10st_Hs_ENST_16.0.0]), Alternative to: GPL19145 (Alternative CDF [hugene10st_Hs_ENSG_16.0.0]), Alternative to: GPL19433 (Alternative CDF [hugene10st_Hs_ENSGvs1500.cdf]), Alternative to: GPL20171 (Alternative CDF [hugene10st_Hs_ENTREZG_19.0.0]), Alternative to: GPL23526 (Alternative CDF [hugene10st_Hs_ENTREZG_20])
 - data_row_count : 33297
Table data:
        ID  ... category
0  7896736  ...     main
1  7896738  ...     main
2  7896740  ...     main
3  7896742  ...     main
4  7896744  ...     main

[5 rows x 12 columns]

In [10]:

### Let's check if the data is present ... ###
!ls

adc.json  GSE28735_family.soft.gz  sample_data

In [20]:
### Here's the sample names ###

gse.gsms.keys()

dict_keys(['GSM711904', 'GSM711905', 'GSM711906', 'GSM711907', 'GSM711908', 'GSM711909', 'GSM711910', 'GSM711911', 'GSM711912', 'GSM711913', 'GSM711914', 'GSM711915', 'GSM711916', 'GSM711917', 'GSM711918', 'GSM711919', 'GSM711920', 'GSM711921', 'GSM711922', 'GSM711923', 'GSM711924', 'GSM711925', 'GSM711926', 'GSM711927', 'GSM711928', 'GSM711929', 'GSM711930', 'GSM711931', 'GSM711932', 'GSM711933', 'GSM711934', 'GSM711935', 'GSM711936', 'GSM711937', 'GSM711938', 'GSM711939', 'GSM711940', 'GSM711941', 'GSM711942', 'GSM711943', 'GSM711944', 'GSM711945', 'GSM711946', 'GSM711947', 'GSM711948', 'GSM711949', 'GSM711950', 'GSM711951', 'GSM711952', 'GSM711953', 'GSM711954', 'GSM711955', 'GSM711956', 'GSM711957', 'GSM711958', 'GSM711959', 'GSM711960', 'GSM711961', 'GSM711962', 'GSM711963', 'GSM711964', 'GSM711965', 'GSM711966', 'GSM711967', 'GSM711968', 'GSM711969', 'GSM711970', 'GSM711971', 'GSM711972', 'GSM711973', 'GSM711974', 'GSM711975', 'GSM711976', 'GSM711977', 'GSM711978', 'GSM711979', 'GSM711980', 'GSM711981', 'GSM711982', 'GSM711983', 'GSM711984', 'GSM711985', 'GSM711986', 'GSM711987', 'GSM711988', 'GSM711989', 'GSM711990', 'GSM711991', 'GSM711992', 'GSM711993'])

In [56]:
### To make a pandas table

dataList = []
keyList  = []


for gsm_name, gsm in gse.gsms.items():
    dataList.append(gsm.table['VALUE'])
    keyList.append(gsm_name)    
    
dt = pd.concat(dataList, axis=1, keys=keyList)

dt.shape

(28869, 90)

In [57]:
dt[0:5]

         GSM711904  GSM711905  GSM711906  ...  GSM711991  GSM711992  GSM711993
ID_REF                                    ...
8157281    2.87856    3.11238    2.53830  ...    2.55399    2.33127    2.84898
7997332    4.81907    5.11957    3.84534  ...    4.74355    4.92834    5.39472
8072798    4.79498    3.33289    4.46755  ...    5.08635    4.60016    4.87154
7972808    3.91443    3.73899    3.56541  ...    3.71242    3.39796    3.48399
8157283    6.54982    6.00254    6.52508  ...    6.57863    6.79043    6.65992

[5 rows x 90 columns]

In [ ]:

# Here we convert the wide matrix to a long format #
longTable = dt.unstack().reset_index()

In [74]:
longTable[0:5]

     level_0   ID_REF        0
0  GSM711904  8157281  2.87856
1  GSM711904  7997332  4.81907
2  GSM711904  8072798  4.79498
3  GSM711904  7972808  3.91443
4  GSM711904  8157283  6.54982

In [ ]:
# We can rename the columns
longTable = longTable.set_axis(['Sample', 'Entrez', 'Value'], axis=1, inplace=False)

In [78]:
longTable[0:5]

      Sample   Entrez    Value
0  GSM711904  8157281  2.87856
1  GSM711904  7997332  4.81907
2  GSM711904  8072798  4.79498
3  GSM711904  7972808  3.91443
4  GSM711904  8157283  6.54982

In [ ]:
pd.

## Step 3: Upload to BigQuery Table

In [ ]:
import pandas_gbq as gbq

gbq.to_gbq(longTable, 'Daves_working_area.my_table', project_id, if_exists='fail')

And that's it!